$color: #ccc;
$stripeWidth: 40px;
$markingWidth: 4px;
$markingColor: #ccc;
$stripeStrength: 0.1;
$width: 640px;
$height: 380px;

.football-pitch {
  opacity: 1;
  width: $width;
  height: $height;
  margin: 0 auto;
  top: calc(50% - #{$height/2});
  overflow: hidden;
  position: absolute;
  opacity: 0.2;
  transform: rotate(45deg);
}

.marking {
  background: $markingColor;
  position: absolute;
  z-index: 2;
}

.outline.marking {
  border: $markingWidth solid $markingColor;
  width: 100%;
  height: 100%;
  background: transparent;
}
.center-line {
  width: $markingWidth;
  height: 100%;
  top: 0;
  left: calc(50% - #{$markingWidth/2});
}

.center-circle {
  $size: 120px;
  width: $size;
  height: $size;
  border-radius: $size;
  border: $markingWidth solid $markingColor;
  background: none;
  top: calc(50% - #{$size/2});
  left: calc(50% - #{$size/2});
}

.box {
  top: 25%;
  width: 16%;
  height: 50%;
  background: transparent;
  border: $markingWidth solid $markingColor;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.small {
    top: 36%;
    width: 8%;
    height: 28%;
  }
}

.box-d {
  top: 35%;
  width: 15%;
  height: 30%;
  background: transparent;
  border: $markingWidth solid $markingColor;

  &.left {
    left: 5%;
    border-left: none;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    clip-path: inset(0 0 0 70%);
  }

  &.right {
    right: 5%;
    border-right: none;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
    clip-path: inset(0 70% 0 0);
  }
}

.spot {
  width: $markingWidth;
  height: $markingWidth;
  border-radius: $markingWidth;
  top: calc(50% - $markingWidth/2);

  &.left {
    left: 11%;
  }

  &.right {
    right: 11%;
  }

  &.center {
    width: $markingWidth * 2;
    height: $markingWidth * 2;
    left: calc(50% - $markingWidth);
  }
}

.corner {
  $size: 40px;
  width: $size;
  height: $size;
  border-radius: $size;
  background: none;
  border: $markingWidth solid $markingColor;

  &.top {
    top: -#{$size/2};
  }

  &.left {
    left: -#{$size/2};
  }

  &.bottom {
    bottom: -#{$size/2};
  }

  &.right {
    right: -#{$size/2};
  }
}
